/* COMMON */
body{
    font-size: 20px;
}

/* my container */
.ms_container{
    width: 60%;
    margin: 0 auto;
    max-width: 900px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

h2{
    font-size: 30px;
    margin:0;
}

h3{
    font-size: 25px;
    margin: 0;
}

p{
    margin: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* bgr common classes */
.ms_bgr-green{
    background-color: #1abc9c;
    color: white;
}

.ms_bgr-blue{
    background-color: #2d3e50;
    color: white;
}

/* common btn */
.btn-white{
    border-color: white;
    color: white;
}

/* common stars */
.stars{
    font-size: 30px;
    padding: 10px 0;
}

.stars::before,
.stars::after{
    content: "";
    width: 15%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 8px;
    display: inline-block;
}

.portfolio-main .stars::before,
.portfolio-main .stars::after,
.form-main .stars::before,
.form-main .stars::after{
    background-color: black;
}

h2,
.stars,
.about-download{
    text-align: center;
}

section{
    padding: 40px 0;
}

.text-blue{
    color: #1abc9c;
}

/* HEADER */
header{
    padding: 30px 0;    
}

.menus-header li{
    display: inline-block;
    margin-left: 15px;

}

.menus-header a{
    color: white;
    font-size: 20px;
}

.menus-header,
.burger-header{
    text-align: right;
}

.burger-header{
    font-size: 25px;
    color: gray;
}

.burger-header i{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* MAIN */
/* jumbotron */
.jumbotron{
    text-align: center;
    padding: 40px 0;
}

.jumbo-img img{
    width: 250px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.jumbo-text h1{
    font-size: 40px;
}

/* portfolio section */
.portfolio-main{
    text-align: center;
}

.portfolio-img{
    margin: 20px 0;
}

.portfolio-img img{
    border-radius: 10px;
}

/* about */
.about-text{
    margin: 10px 0;
}

.about-download{
    padding-top: 20px;
}

/* form section */
.form-content input,
.form-content textarea {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: 20px;
}

.form-control:focus{
    box-shadow: none;
    border-color: lightgray;
}

/* FOOTER */
.footer-info{
    background-color: #3a556d;
    color: white;
}

.footer-content{
    text-align: center;
    padding: 15px 0;
}
.social-icon{
    padding-top: 10px;
}

.social-icon i{
    color: white;
    border: 1px solid white;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin: 2px;
}

.social-icon li{
    display: inline-block;
    
}

.footer-copy{
    background-color: #2d3e50;
    color: white;
    text-align: center;
    font-size: 18px;
}






@media screen and (min-width: 768px) {
    /* COMMON */
    h2{
        font-size: 50px;
    }

    h3{
        font-size: 30px;
    }
    
    /* MAIN */
    .jumbo-text h1{
        font-size: 70px;
    }


}